// *************************************
//
//   card
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.card {

    // -------------------------------------
    //   Variables
    // -------------------------------------

    $card-var:    7em;
    $card-col-fg: #3B5998;
    $card-col-bg: #c0deed;

    background-color: #ffffff;
    display: inline-block;
    margin: 12px 0;
    transform: scale(1, 1);
    transition: all 0.1s ease-in-out;

    &:hover {
        transform: scale(1.05, 1.05);
        transition: all 0.1s ease-in-out;
    }


    // -------------------------------------
    //   Elements
    // -------------------------------------


    // ----- Element description ----- // 

    &__title {
        display: inline-block;
        color: #b7b3b5;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 24px;
        width: 100%;
        font-family: 'Muli', sans-serif;
        font-size: 12px;
    }

    &__text {
        padding: 0 12px 12px 12px;

        &>hr {
            margin: 6px 0;
        }
    }

    // -------------------------------------
    //   Variations
    // -------------------------------------


    // ----- Variation description ----- // 

    &--variation {}

}