// *************************************
//
//   header
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.header {

    // -------------------------------------
    //   Variables
    // -------------------------------------

    $header-var:    7em;
    $header-col-fg: #3B5998;
    $header-col-bg: #c0deed;

    background-color: #4e5050;
    height: 70px;
    line-height: 70px;
    width: 100%;
    text-align: right;

    // -------------------------------------
    //   Elements
    // -------------------------------------


    // ----- Element description ----- // 

    &__logo {
        height: 30px;
        width: auto;
        margin-right: 12px;
    }


    // -------------------------------------
    //   Variations
    // -------------------------------------


    // ----- Variation description ----- // 

    &--variation {}

}