// *************************************
//
//   header
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.header {

    // -------------------------------------
    //   Variables
    // -------------------------------------

    $header-var:    7em;
    $header-col-fg: #3B5998;
    $header-col-bg: #c0deed;

    background-color: #4e5050;
    width: 20%;
    height: 100%;

    // -------------------------------------
    //   Elements
    // -------------------------------------


    // ----- Element description ----- // 

    &__element {}


    // -------------------------------------
    //   Variations
    // -------------------------------------


    // ----- Variation description ----- // 

    &--variation {}

}