// *************************************
//
//   main
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.main {

    // -------------------------------------
    //   Variables
    // -------------------------------------

    $main-var:    7em;
    $main-col-fg: #3B5998;
    $main-col-bg: #c0deed;

    width: 100%;
    margin-left: 0;
    
    @media screen and (min-width: 40em) {
        margin-left: 220px;
    }
    // -------------------------------------
    //   Elements
    // -------------------------------------


    // ----- Element description ----- // 

    &__element {}


    // -------------------------------------
    //   Variations
    // -------------------------------------


    // ----- Variation description ----- // 

    &--variation {}

}