// *************************************
//
//   side-menu
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.side-menu {

    // -------------------------------------
    //   Variables
    // -------------------------------------

    background-color: #4e5050;
    width: 20%;
    height: 100%;

    // -------------------------------------
    //   Elements
    // -------------------------------------


    // ----- Element description ----- // 

    &__element {}


    // -------------------------------------
    //   Variations
    // -------------------------------------


    // ----- Variation description ----- // 

    &--variation {}

}