// *************************************
//
//   wrapper
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.wrapper {

    // -------------------------------------
    //   Variables
    // -------------------------------------

    $wrapper-var:    7em;
    $wrapper-col-fg: #3B5998;
    $wrapper-col-bg: #c0deed;

    display: flex;
    height: 100%;

    // -------------------------------------
    //   Elements
    // -------------------------------------


    // ----- Element description ----- // 

    &__element {}


    // -------------------------------------
    //   Variations
    // -------------------------------------


    // ----- Variation description ----- // 

    &--variation {}

}