body {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

h2, h3, h4 {
    font-family: 'Muli', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
}